ShibUserPassAuth {
    /*
	com.sun.security.auth.module.Krb5LoginModule required;
	*/

    org.ldaptive.jaas.LdapLoginModule required
      /*ldapUrl="ldap://localhost:10390"
      baseDn="ou=Groups,dc=wso2,dc=org"
      userFilter="uid={user}";*/
    ldapUrl="ldap://localhost:10390"
    bindDn="uid=admin,ou=system"
    bindCredential="admin"
    baseDn="ou=Users,dc=wso2,dc=org"
    ssl="false"
    userFilter="uid={0}"

};